{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {% endblock %}

{% block body %}
{# <h1 class="text-center">Vous avez {{voitures|length}} voitures </h1> #}

<div class="container d-flex flex-wrap d-flex justify-content-between">
<pre>
    {{ dump(voitures) }}
</pre>
{% for voiture in voitures %}
    	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<div class="card mb-3">
					<img src="{{voiture.imageUrl}}" class="card-img-top" alt="{{voiture.nom}}" style="height:300px">
					<div class="card-body">
						<h5 class="card-title">{{voiture.nom}} </h5>
						<p class="card-text">{{voiture.description}}</p>
						<p class="card-text">
							<small class="text-muted">{{voiture.createdAt|date('d/m/Y')}}</small>
						</p>
                        <p class="card-text">{{voiture.couleur}}</p>
                        <p class="card-text">{{voiture.prixJournalier}}</p>
                        <p class="card-text">{{voiture.slug}}</p>

						<div class="d-grid gap-2 d-md-block">
							<button class="btn btn-secondary" type="button">Accueil</button>
							<button class="btn btn-primary" type="button">Categorie</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

</div>
{% endblock %}
