<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a  href="#!" role="button"
        ><img src="{{ asset('assets/facebook2.png') }}"> </a>

      <!-- Twitter -->
      <a class='m-2' href="#!" role="button"
        ><img src="{{ asset('assets/twitter.png') }}" ></a>

      <!-- Google -->
     <a class='m-2' href="#!" role="button"
        ><img src="{{ asset('assets/google.png') }}" ></a>

      <!-- Instagram -->
      <a class='m-2' href="#!" role="button"
        ><img src="{{ asset('assets/instagram.png') }}" ></a>

      <!-- Linkedin -->
      <a class='m-2' href="#!" role="button"
        ><img src="{{ asset('assets/linkedin.png') }}" ></a>

      <!-- Github -->
      <a class='m-2' href="#!" role="button"
        ><img src="{{ asset('assets/github.png') }}" ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">LUXE.com</a>
  </div>
  <!-- Copyright -->
</footer>