{% extends 'base.html.twig' %}

{% block body %}

{# <pre>
    {{ dump(marques) }}
</pre> #}


{% for marque in marques %}
	<div class="container mt-4 mb-3">
		
			
				<div class="card w-50 mx-auto my-auto">
	<h5 class="card-title mx-auto my-auto">{{ marque.nom }}</h5>
	{# <p class="text-center mb-4 ">{{ marque.description }}</p> #}
	<p class="text-center mb-4 card w-50 mx-auto my-auto ">{{ marque.pays }}</p>
	{# <p class="text-center mb-4 ">{{ marque.slug }}</p> #}
	<img class="text-center mb-4 card w-50 mx-auto my-auto " style="height:60vh" src="{{ marque.logo }}" class="card-img-top" alt="{{ marque.nom }}">
	<p class="text-center mb-4 card w-50 mx-auto my-auto">{{ marque.createdAt|date('d/m/Y') }}</p>
</div>
		
	</div>
{% endfor %}

{% endblock %}
